body {
    font-family: 'Yanone Kaffeesatz', sans-serif; 
}

core-toolbar {
    background-color: #2196F3;
    color:whitesmoke;

}

paper-tab{
    font-size:20px;
}

#inscription-button{
    color:whitesmoke;
}
#search-mainpage-input{
    color:whitesmoke;
}

#left-menu{
    background-color:#E3F2FD;
}

core-drawer-panel:not([narrow]) #navicon{
    display:none;
}

#sous-menu{
    white-space: nowrap;
}

#sous-menu paper-button{
    font-size:19px;
}

div{
    text-align:center;
}
div#contenu {
    width:600px;
    height:400px;
    background-color:#FFCC00;
}

.hide{
    display: none;
}
hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px grey;
}
hr:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}
#grosbloc{

    height:250px;

}
#blockgauche{

    position:relative;
    font-size:25px;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    color : LightSkyBlue;
    margin-right: 70%;
}
#blockdroite{

    height : 150px;
    font-size:19px;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    color : LightSkyBlue;


}
#produit{
    width : 50px;
    height:70px;
    background-color: red;
    margin-top: 20px;
    margin-left : 20px;
}


/* Style de la page du profil de l utilisateur connecte */

.profil {
    float: left;
    margin: 10px;
    width: 100%;
}

.avatar {
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin: 10px;
}

.avatarUser {
    display: -webkit-box;   
    width: 25%;
    margin-left: 90px;  
}

.profil-top {
    display: -webkit-inline-box;
    float: left;
    position: relative;
    width: 100%;
}

.collapse {
    margin-left: 20px;
    float: right;
    position: relative;
    width: 60%;
}

.head-collapse {
    background-color: #ecf0f1;
    border-radius: 5px;
    padding: 10px;
}