body {
    height: 2000px;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
}

core-toolbar {
    background-image:linear-gradient(#1B2C6E,#01579B,#4BB5C1);
    //background-color:#111C47;
    color:whitesmoke;

}

core-toolbar a{
    color:white;
    text-decoration:none;
}

core-header-panel[drawer]{
    //background-color:#ECEFF1;
    background-image:linear-gradient(white,#efefef,#ECEFF1);
}

core-menu{
    background-image:linear-gradient(#4BB5C1,#01579B,#1B2C6E);
    color:white;
}

core-drawer-panel:not([narrow]) #navicon{
    display:none;
}

section paper-tabs{
    background-image:linear-gradient(#ECEFF1,#c4af91);
}

paper-tabs.pink::shadow #selectionBar {
  background-color: red;
}

paper-tabs.pink paper-tab::shadow #ink {
  color: red;
}

paper-tab{
    font-size:20px;
}

core-toolbar paper-tab a{
    text-decoration:none;
    color:whitesmoke;
}
paper-tab a{
    text-decoration:none;
    color:#1B2C6E;
}

.contenu{
    position:relative;
    top:48px;
}

footer{
    position:relative;
    margin:auto;
    bottom:0px;
    padding-top:24px;
    width:232px;
    height:48px;
    color:whitesmoke;
    text-align:center;
    background-image:linear-gradient(#A6A5A5,#4F4B4B);
    border-radius:2px 2px 2px 2px;
    -moz-box-shadow: 1px 1px 15px 0px #656565;
    -webkit-box-shadow: 1px 1px 15px 0px #656565;
    -o-box-shadow: 1px 1px 15px 0px #656565;
    box-shadow: 1px 1px 15px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=15);
}

#divfoot{
    height:350px;
    max-height:500px;
    min-height: 40px;
}

#inscription-button{
    color:whitesmoke;
}
#search-mainpage-input{
    color:whitesmoke;
}

#sous-menu{
    white-space: nowrap;
}

#sous-menu paper-button{
    font-size:19px;
}

div{
    text-align:center;
}
div#contenu {
    width:600px;
    height:400px;
    background-color:#FFCC00;
}

.hide{
    display: none;
}
hr {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px grey;
}
hr:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}
#grosbloc{
   
   height:350px;

}
#blockgauche{
    float : left;
    position:relative;
    height : 150px;
    font-size:25px;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    color : LightSkyBlue;
    width: 600px;
}
#blockdroite{
   float :left;
   margin-left: 220px;
    height : 100px;
    font-size:30px;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    color : LightSkyBlue;
    width : 650px;
   
}
#petitblock{
    position : relative;
    float :right;
    height : 100px;
    font-size:30px;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    color : LightSkyBlue;
    width : 550px;
   
}
#petitbloc1{

    position : relative;
    padding-left: 500px;
    padding-top:300px;
    height : 500px;
    font-size:30px;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    color : LightSkyBlue;
}
th{
    background-color: #6495ED;
    font-size: 35px;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    color : white;
}
tr{
    font-size: 23px;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
}
#top{
    position : relative;
    padding-left:520px;
    margin-top:-275px;
    
    font-size:30px;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    
}
#top tr{
    font-size:25px;
  color : white;
  background-color: #6495ED;
}
#bot{
    margin-top:-75px;
   padding-left: 200px;
    width: 100px;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
}
#bot th{
    font-size: 25px;
    background-color : white;
    color : LightSkyBlue;
}
#gauche{
   margin-top:-885px;
   margin-right: 0px;
   height: 200px;
    width: 100px;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
}
ul{
    list-style:none;
    border:1px solid black;
    margin:0px;
    padding:0px;
    width:350px;
    background-color:#d6e1f1;
}

li{
    display:block;
    width:350px;
    font-family:monospace;
    font-size:30px;
    height:100px;
}

.id{
   font-size:40px;
   color:red;
   float:left;
}
#produit{
    width : 50px;
    height:70px;
    background-color: red;
    margin-top: 20px;
    margin-left : 20px;
}


/* Style de la page du profil de l utilisateur connecte */

.profile-title {
    margin-top:30px;
    margin-left:50px;
}

.avatar {
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin: 10px;
}

.avatarUser {
    display: -webkit-box;   
    width: 25%;
    margin-left: 90px;  
}

.profile-top {
    display: -webkit-inline-box;
    float: left;
    position: relative;
    width: 100%;
}

.collapse {
    margin-left: 20px;
    float: right;
    position: relative;
    width: 60%;
}

.head-collapse {
    background-color: #ecf0f1;
    border-radius: 5px;
    padding: 10px;
    cursor:pointer;
}
.core-form-personal-data{
margin-left: 235px;
}



// desgintoggle formulaire

section {
    padding: 20px 0;
}

section > div {
    padding: 14px;
    font-size: 16px;
}

button{
    margin: 8px 4px;
}




//accueil
.photo-accueil{
    width:100%;
}

//boutique liste produit

core-pages section h1{
    margin:auto;
}

.catalogue{
    text-align:center;
    border-collapse: separate;
}

.catalogue tr td{
    padding:15px;
}

.produit-catalogue{
    width:180px;
    height:260px;
}

.produit-catalogue h4{
    position:relative;
    bottom:10px;
    color:#1B2C6E;
    //font-family: 'Merriweather', serif;
    font-size:18px;
    margin-bottom:10px;
    text-align:center;
    font-weight:normal;
    text-decoration:underline;
}

.produit-catalogue img{
    width:270px;
    height:270px;
    border-radius:2px;
    box-shadow:3px 3px 3px #c3c3c3;
}

.produit-catalogue core-image{
    width:300px;
    height:300px;
}

.produit-catalogue .prix-produit{
    text-align:right;
}

.produit-catalogue paper-button{
    color:white;
    display:inline-block;
    width:30px;
    //width:10%;
}

.produit-catalogue .like{
    background-color:#F3284A;
    width:50px;
}

.produit-catalogue .add-panier{
    background-color:#4CAF50;
}
#produit2{
    font-family: 'Merriweather', serif;
    font-size:14px;
    background-image:linear-gradient(white,#efefef,#ECEFF1);
    margin:auto;
    width:300px;
    -moz-box-shadow: 1px 1px 15px 0px #656565;
    -webkit-box-shadow: 1px 1px 15px 0px #656565;
    -o-box-shadow: 1px 1px 15px 0px #656565;
    box-shadow: 1px 1px 15px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=15);
}

#produit2 core-item{
    color:black;
    
}

#produit2 core-submenu{
    color:black;
}

#produit2 img{
    border-radius:4px 4px 0px 0px;
    width:300px;
    height:300px;
}

#produit2 paper-tab{
    font-size:12px;
}

#produit2 paper-button{

}

#produit2 .like{
    color:#F3284A;
}

#produit2 .add-panier{
    color:#4CAF50;
}

paper-toast img{
    width:50px;
    height:50px;
}

.imgproduits{
    height:300px;
}