/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 déc. 2014, 21:55:03
    Author     : JimSobieski
*/
:host paper-input{
    display: block;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
}
