<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<polymer-element name="core-form-connexion" noscript>
    <template>
        <link rel="stylesheet" href="core-form-connexion.css">
        
        <form  is="component-form" name="connexion" method="POST" action="http://localhost/bein3d/public/Connexion">

                    
                    <paper-input floatingLabel label="Email" type="email" name="email"></paper-input>
                    <paper-input floatingLabel label="mot de passe" type="password" name="mdp"></paper-input>
                    
                    <paper-checkbox floatingLabel label="S'inscrire à la newsletter"></paper-checkbox>
                    <paper-button class="colored" type="submit" label='OK' >
                        <core-icon icon='check'> 
                        </core-icon>
                    </paper-button>
                    <paper-button type="reset"  label='CANCEL' onclick="resetForm()">
                        <core-icon icon='clear'> 
                        </core-icon>
                    </paper-button>

        </form>
    </template>
    <script>
        Polymer({
      ready: function() {
        //...
      }
    });
    
    function resetForm() {
                var name = document.querySelectorAll("paper-input")[1];

                name.inputValue = "";
                var name = document.querySelectorAll("paper-input")[2];

                name.inputValue = "";
            


            }
            ;
    </script>
</polymer-element>
